body {
  padding-top: 52px;
  background-color: #000;
}

.fa-stack{
    width: 1.28571em;
}

.icon-white {
    color: white;
}
.icon-bot-text { margin-top: 16px; font-size: 10px;}
.icon-top-text { margin-top: -16px; font-size: 10px; }
.icon-text { margin-top: 16px; font-size: 11px; font-weight: bold;}

.btn-ctl {
    padding: 15px 12px;
    border-radius: 4px;
    width: 5.28571em;
}


.calendar-text { margin-top: .3em; }

.filterable {
    margin-top: 15px;
}
.filterable .panel-heading .pull-right {
    margin-top: -20px;
}
.filterable .filters input[disabled] {
    background-color: transparent;
    border: none;
    cursor: auto;
    box-shadow: none;
    padding: 0;
    height: auto;
}
.filterable .filters input[disabled]::-webkit-input-placeholder {
    color: #333;
}
.filterable .filters input[disabled]::-moz-placeholder {
    color: #333;
}
.filterable .filters input[disabled]:-ms-input-placeholder {
    color: #333;
}

.table-hover tbody tr.highlight td {
    background-color: #000;
}
